<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
  <meta charset="UTF-8">
  <title>Open Position</title>
</head>
<body>
<h1>Open Position</h1>

<form method="post" action="/open-position"
      th:action="@{/open-position}"
      th:object="${openPositionForm}">

  <p>Symbol: <input type="text" th:field="*{underlyingSymbol}"/></p>
  <p>C/P: <input type="text" th:field="*{optionType}"></p>
  <p>Qty: <input type="number" th:field="*{quantity}"></p>
<!--  <p>Expiration: <input type="text" th:field="*{expiration}"></p>-->

  <p>Expiration:
    <select th:field="*{expiration}" id="expiration">
    <option th:each="expiration : ${expirations}"
            th:value="${expiration}"
            th:text="${expiration}">expiration
    </option>
  </select>
  </p>
  
  <p>Strike: <input type="text" th:field="*{strikePrice}"></p>
  <p>Price: <input type="text" th:field="*{unitCost}"></p>

  <button type="submit">Submit</button>
</form>

</body>
</html>