<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
  <title>View Portfolio - Tawny</title>
  <link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet">
  <style>
      table {
          width: 100%;
          border-collapse: collapse;
      }

      /* Zebra striping */
      tr:nth-of-type(odd) {
          background: #eee;
      }

      th {
          background: #333;
          color: white;
          font-weight: bold;
      }

      td, th {
          padding: 6px;
          border: 1px solid #ccc;
          text-align: left;
      }
  </style>
</head>
<body class="p-4">
<h1 class="text-3xl mb-6">Positions</h1>
<table class="mb-4">
  <thead>
  <tr>
    <th>Underlying</th>
    <th>Type</th>
    <th>Qty</th>
    <th>Expiration</th>
    <th>Strike Price</th>
    <th>Unit Cost</th>
    <th>Total Cost</th>
    <th>Current Price</th>
    <th>Current Value</th>
    <th>Gain $</th>
    <th>Gain %</th>
  </tr>
  </thead>
  <tbody>
  <tr th:each="position : ${positions}">
    <td th:text="${position.underlyingSymbol}">AAPL</td>
    <td th:text="${position.optionType}">C</td>
    <td th:text="${position.quantity}">1</td>
    <td th:text="${position.expiration}">Expiration</td>
    <td th:text="${position.strikePrice}">125.00</td>
    <td th:text="${position.unitCost}">6.40</td>
    <td th:text="${position.totalCost}">640.00</td>
    <td th:text="${position.currentOptionPrice}">6.35</td>
    <td th:text="${position.currentValue}">635.00</td>
    <td th:text="${position.valueGain}">(5.00)</td>
    <td th:text="${position.valuePercentageGain}">(8%)</td>
  </tr>
  </tbody>
</table>

<a href="/open-position" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">
  Open Position</a>

</body>
</html>

